{{#each articles}}

<div class='card' data-id='{{this.id}}'>

    <a class='artLink' href='{{this.link}}'>

        <div class='card-header'>
            <h4 class='artHeadline'> {{this.headline}} </h4>
        </div>

        <div class='card-body artSum'> {{this.summary}} </div>
    </a>
</div>

{{/each}}